<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="daily49er.android.app"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="7" />

    <application android:icon="@drawable/icon" android:label="@string/app_name" android:theme="@android:style/Theme.NoTitleBar">
        <activity android:name=".Daily49er"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".Article"></activity>
        
        <activity android:name=".NewsTab"></activity>
        <activity android:name=".MediaTab"></activity>
        <activity android:name=".EventsTab"></activity>
        <activity android:name=".SettingsTab"
        	android:label="Settings">
        </activity>
        <activity android:launchMode="standard" android:name="SplashScreen"></activity>

    </application>
    <uses-permission android:name="android.permission.INTERNET" />
</manifest>